<% @users.each do |user| %>
	<table>
		<tr>
			<td><%= link_to user.username, user_path(user) %></td>
			<td>
				<% form_tag follow_path do %>
					<%= hidden_field_tag :user_id, user.id %>
					<%= submit_tag "Follow" %>
				<% end %>
			</td>
		</tr>
	</table>
<% end %>