/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #eee;
}

#header {
  width: 800px;
  background-color: #0f0;
  border: 0px;
  margin: 0 auto 0;
  height: 80px;
}

#header-wrapper {
  background-color: #0f0;
  border: 0px;
}

#header-content {
  float: right;
}

#logo {
  float: left;
}

#main {
  width: 800px;
  margin: 0 auto 15;
  background-color: white;
  padding: 5px;
  min-height: 400px;
}

#header ul li {
  list-style-type: none;
  text-align: right;
  padding: 4px;
}

#footer {
  text-align: center;
  background-color: black;
  height: 100px;
  padding-top: 30px;
  width: 100%;
}

#footer a {
  padding: 30px;
}

li div {
  display: inline;
}

form {
  display: inline;
}

h2 {
  display: block;
  background-color: #ddd;
  padding-left: 10;
}
