<p>
  We're not too hot on security here at Squeaker, Inc. We trust you!
</p>
<% form_for(@user_session) do |form| %>
  <%= form.label :username, "Username" %>
  <%= form.text_field :username %>
  <%= form.submit "Log in" %>
<% end %>
